<div class="home-callout text-center container-fluid">
  <h1>Quizz App</h1>
  <h3>Create your profile here</h3>
</div>
  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Student</h2>
          <h4 class="center">Sign up Here if you are a Student</h4>
          <%= link_to "Sign up as a Student", new_user_registration_path(profile: @student_profile.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
      <div class="well">
      <h2 class="text-center">Teacher</h2>
      <h4 class="center">Sign Up Here if You are a Teacher</h4>
      <%= link_to "Sign up As Teacher",  new_user_registration_path(profile: @teacher_profile.id), class: 'btn btn-warning btn-lg btn-block' %>
    </div>
  </div>
</div>